controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Nelmio API Documentation
app.swagger_ui:
    path: /api/doc
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger_ui }

app.swagger:
    path: /api/doc.json
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger }
