nelmio_api_doc:
    documentation:
        info:
            title: Library Management System API
            description: API REST pour le système de gestion de bibliothèque
            version: 1.0.0

        components:
            securitySchemes:
                bearerAuth:
                    type: http
                    scheme: bearer
                    bearerFormat: JWT

        security:
            - bearerAuth: []

    areas:
        path_patterns:
            - ^/api(?!/doc$)
